In [1]:
import pandas as pd

In [5]:
json_data = """
[
    {"id": 1, "name": "Alice", "role": "Engineer"},
    {"id": 2, "name": "Bob", "role": "Designer"},
    {"id": 3, "name": "Charlie", "role": "Manager"}
]
"""

In [6]:
import io
json_file = io.StringIO(json_data)

In [7]:
df = pd.read_json(json_file)
df

   id     name      role
0   1    Alice  Engineer
1   2      Bob  Designer
2   3  Charlie   Manager