In [1]:
import numpy as np
import pandas as pd

In [2]:
data = '''brand,km_driven,fuel,owner,selling_price
Maruti,145500,Diesel,First Owner,450000
Skoda,120000,Diesel,Second Owner,370000
Honda,140000,Petrol,Third Owner,158000
Hyundai,127000,Diesel,First Owner,225000
Maruti,120000,Petrol,First Owner,130000
Hyundai,45000,Petrol,First Owner,440000
Maruti,175000,LPG,First Owner,96000
Maruti,5000,Petrol,Second Owner,45000
Toyota,90000,Diesel,First Owner,350000
Ford,169000,Diesel,First Owner,200000
Renault,68000,Diesel,Second Owner,500000
Maruti,100000,Petrol,Second Owner,92000
Maruti,140000,Diesel,Second Owner,280000
Maruti,80000,Petrol,Second Owner,200000
Maruti,90000,Petrol,Second Owner,180000
Mahindra,40000,Petrol,First Owner,400000
Maruti,70000,Diesel,Second Owner,778000
Hyundai,53000,Diesel,Second Owner,500000
Maruti,80000,Petrol,Second Owner,150000
Hyundai,100000,Diesel,First Owner,680000
Mahindra,100000,Diesel,Second Owner,174000
Honda,50000,Diesel,First Owner,950000
Maruti,40000,Diesel,First Owner,525000
Maruti,72000,Diesel,First Owner,600000
Tata,35000,Petrol,First Owner,500000
Maruti,45000,Petrol,First Owner,575000
Maruti,28000,Petrol,First Owner,275000
Chevrolet,70000,Diesel,First Owner,300000
Maruti,120000,Petrol,First Owner,220000
Maruti,25000,Petrol,First Owner,254999
Maruti,70000,Diesel,First Owner,670000
Fiat,50000,Petrol,Second Owner,70000
Maruti,35000,Petrol,Second Owner,150000
Hyundai,2388,Petrol,First Owner,730000
Maruti,16200,Diesel,First Owner,650000
Maruti,10000,CNG,Second Owner,330000
Maruti,15000,Petrol,First Owner,366000
Hyundai,5000,Petrol,First Owner,1149000
Datsun,42000,Petrol,First Owner,150000
Tata,60000,Diesel,Second Owner,425000
Maruti,76000,Petrol,First Owner,150000
Jeep,5000,Petrol,First Owner,2100000
Honda,28900,Petrol,First Owner,925000
Honda,86300,Petrol,First Owner,425000
Maruti,23300,Petrol,First Owner,675000
Maruti,32600,Diesel,First Owner,819999
Maruti,10300,Petrol,First Owner,390000
Toyota,77000,Diesel,First Owner,1500000
Toyota,99000,Diesel,First Owner,700000'''

In [6]:
import io
file = io.StringIO(data)
df = pd.read_csv(file)
df.sample(10)

     brand  km_driven    fuel         owner  selling_price
1    Skoda     120000  Diesel  Second Owner         370000
31    Fiat      50000  Petrol  Second Owner          70000
45  Maruti      32600  Diesel   First Owner         819999
22  Maruti      40000  Diesel   First Owner         525000
46  Maruti      10300  Petrol   First Owner         390000
14  Maruti      90000  Petrol  Second Owner         180000
36  Maruti      15000  Petrol   First Owner         366000
28  Maruti     120000  Petrol   First Owner         220000
11  Maruti     100000  Petrol  Second Owner          92000
7   Maruti       5000  Petrol  Second Owner          45000

One hot encoding using pandas

In [8]:
pd.get_dummies(df, columns=['fuel', 'owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Second Owner,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False
1,Skoda,120000,370000,False,True,False,False,False,True,False
2,Honda,140000,158000,False,False,False,True,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False
5,Hyundai,45000,440000,False,False,False,True,True,False,False
6,Maruti,175000,96000,False,False,True,False,True,False,False
7,Maruti,5000,45000,False,False,False,True,False,True,False
8,Toyota,90000,350000,False,True,False,False,True,False,False
9,Ford,169000,200000,False,True,False,False,True,False,False
10,Renault,68000,500000,False,True,False,False,False,True,False
11,Maruti,100000,92000,False,False,False,True,False,True,False
12,Maruti,140000,280000,False,True,False,False,False,True,False
13,Maruti,80000,200000,False,False,False,True,False,True,False
14,Maruti,90000,180000,False,False,False,True,False,True,False
15,Mahindra,40000,400000,False,False,False,True,True,False,False
16,Maruti,70000,778000,False,True,False,False,False,True,False
17,Hyundai,53000,500000,False,True,False,False,False,True,False
18,Maruti,80000,150000,False,False,False,True,False,True,False
19,Hyundai,100000,680000,False,True,False,False,True,False,False
20,Mahindra,100000,174000,False,True,False,False,False,True,False
21,Honda,50000,950000,False,True,False,False,True,False,False
22,Maruti,40000,525000,False,True,False,False,True,False,False
23,Maruti,72000,600000,False,True,False,False,True,False,False
24,Tata,35000,500000,False,False,False,True,True,False,False
25,Maruti,45000,575000,False,False,False,True,True,False,False
26,Maruti,28000,275000,False,False,False,True,True,False,False
27,Chevrolet,70000,300000,False,True,False,False,True,False,False
28,Maruti,120000,220000,False,False,False,True,True,False,False
29,Maruti,25000,254999,False,False,False,True,True,False,False
30,Maruti,70000,670000,False,True,False,False,True,False,False
31,Fiat,50000,70000,False,False,False,True,False,True,False
32,Maruti,35000,150000,False,False,False,True,False,True,False
33,Hyundai,2388,730000,False,False,False,True,True,False,False
34,Maruti,16200,650000,False,True,False,False,True,False,False
35,Maruti,10000,330000,True,False,False,False,False,True,False
36,Maruti,15000,366000,False,False,False,True,True,False,False
37,Hyundai,5000,1149000,False,False,False,True,True,False,False
38,Datsun,42000,150000,False,False,False,True,True,False,False
39,Tata,60000,425000,False,True,False,False,False,True,False
40,Maruti,76000,150000,False,False,False,True,True,False,False
41,Jeep,5000,2100000,False,False,False,True,True,False,False
42,Honda,28900,925000,False,False,False,True,True,False,False
43,Honda,86300,425000,False,False,False,True,True,False,False
44,Maruti,23300,675000,False,False,False,True,True,False,False
45,Maruti,32600,819999,False,True,False,False,True,False,False
46,Maruti,10300,390000,False,False,False,True,True,False,False
47,Toyota,77000,1500000,False,True,False,False,True,False,False
48,Toyota,99000,700000,False,True,False,False,True,False,False

K-1 one hot encoding

In [9]:
pd.get_dummies(df, columns=['fuel', 'owner'], drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Second Owner,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False
1,Skoda,120000,370000,True,False,False,True,False
2,Honda,140000,158000,False,False,True,False,True
3,Hyundai,127000,225000,True,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False
5,Hyundai,45000,440000,False,False,True,False,False
6,Maruti,175000,96000,False,True,False,False,False
7,Maruti,5000,45000,False,False,True,True,False
8,Toyota,90000,350000,True,False,False,False,False
9,Ford,169000,200000,True,False,False,False,False
10,Renault,68000,500000,True,False,False,True,False
11,Maruti,100000,92000,False,False,True,True,False
12,Maruti,140000,280000,True,False,False,True,False
13,Maruti,80000,200000,False,False,True,True,False
14,Maruti,90000,180000,False,False,True,True,False
15,Mahindra,40000,400000,False,False,True,False,False
16,Maruti,70000,778000,True,False,False,True,False
17,Hyundai,53000,500000,True,False,False,True,False
18,Maruti,80000,150000,False,False,True,True,False
19,Hyundai,100000,680000,True,False,False,False,False
20,Mahindra,100000,174000,True,False,False,True,False
21,Honda,50000,950000,True,False,False,False,False
22,Maruti,40000,525000,True,False,False,False,False
23,Maruti,72000,600000,True,False,False,False,False
24,Tata,35000,500000,False,False,True,False,False
25,Maruti,45000,575000,False,False,True,False,False
26,Maruti,28000,275000,False,False,True,False,False
27,Chevrolet,70000,300000,True,False,False,False,False
28,Maruti,120000,220000,False,False,True,False,False
29,Maruti,25000,254999,False,False,True,False,False
30,Maruti,70000,670000,True,False,False,False,False
31,Fiat,50000,70000,False,False,True,True,False
32,Maruti,35000,150000,False,False,True,True,False
33,Hyundai,2388,730000,False,False,True,False,False
34,Maruti,16200,650000,True,False,False,False,False
35,Maruti,10000,330000,False,False,False,True,False
36,Maruti,15000,366000,False,False,True,False,False
37,Hyundai,5000,1149000,False,False,True,False,False
38,Datsun,42000,150000,False,False,True,False,False
39,Tata,60000,425000,True,False,False,True,False
40,Maruti,76000,150000,False,False,True,False,False
41,Jeep,5000,2100000,False,False,True,False,False
42,Honda,28900,925000,False,False,True,False,False
43,Honda,86300,425000,False,False,True,False,False
44,Maruti,23300,675000,False,False,True,False,False
45,Maruti,32600,819999,True,False,False,False,False
46,Maruti,10300,390000,False,False,True,False,False
47,Toyota,77000,1500000,True,False,False,False,False
48,Toyota,99000,700000,True,False,False,False,False

one hot encoding using sklearn

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    df.iloc[:, 0:4],
    df.iloc[:, -1],
    test_size=0.2,
    random_state=0
)

In [13]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder()

In [16]:
x_train_new = ohe.fit_transform(x_train[['fuel', 'owner']]).toarray()
x_test_new = ohe.fit_transform(x_test[['fuel', 'owner']]).toarray()

In [17]:
x_train[['brand', 'km_driven']].values

array([['Maruti', 100000],
       ['Fiat', 50000],
       ['Hyundai', 2388],
       ['Chevrolet', 70000],
       ['Toyota', 99000],
       ['Honda', 140000],
       ['Maruti', 10300],
       ['Maruti', 80000],
       ['Mahindra', 40000],
       ['Maruti', 120000],
       ['Maruti', 40000],
       ['Maruti', 70000],
       ['Jeep', 5000],
       ['Mahindra', 100000],
       ['Honda', 28900],
       ['Toyota', 90000],
       ['Maruti', 80000],
       ['Maruti', 45000],
       ['Hyundai', 45000],
       ['Hyundai', 53000],
       ['Maruti', 10000],
       ['Maruti', 90000],
       ['Datsun', 42000],
       ['Skoda', 120000],
       ['Maruti', 140000],
       ['Honda', 86300],
       ['Tata', 35000],
       ['Maruti', 175000],
       ['Maruti', 72000],
       ['Maruti', 15000],
       ['Honda', 50000],
       ['Hyundai', 100000],
       ['Ford', 169000],
       ['Tata', 60000],
       ['Maruti', 32600],
       ['Hyundai', 127000],
       ['Maruti', 145500],
       ['Toyota', 77000],
       ['Maruti', 23300]], dtype=object)

In [19]:
np.hstack((x_train[['brand', 'km_driven']].values, x_train_new))

array([['Maruti', 100000, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Fiat', 50000, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Hyundai', 2388, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Chevrolet', 70000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Toyota', 99000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Honda', 140000, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0],
       ['Maruti', 10300, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 80000, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Mahindra', 40000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 120000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 40000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 70000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Jeep', 5000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Mahindra', 100000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Honda', 28900, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Toyota', 90000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 80000, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Maruti', 45000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 45000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Hyundai', 53000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 10000, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 90000, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0],
       ['Datsun', 42000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Skoda', 120000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 140000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Honda', 86300, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Tata', 35000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Maruti', 175000, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 72000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 15000, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0],
       ['Honda', 50000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 100000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Ford', 169000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Tata', 60000, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0],
       ['Maruti', 32600, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Hyundai', 127000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 145500, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Toyota', 77000, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0],
       ['Maruti', 23300, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0]], dtype=object)

In [25]:
counts = df['brand'].value_counts()
counts

brand
Maruti       25
Hyundai       6
Honda         4
Toyota        3
Tata          2
Mahindra      2
Skoda         1
Renault       1
Ford          1
Chevrolet     1
Fiat          1
Datsun        1
Jeep          1
Name: count, dtype: int64

In [24]:
df['brand'].nunique()

13

In [27]:
threshold = 3
repl = counts[counts <= threshold].index
repl

Index(['Toyota', 'Tata', 'Mahindra', 'Skoda', 'Renault', 'Ford', 'Chevrolet',
       'Fiat', 'Datsun', 'Jeep'],
      dtype='object', name='brand')

In [28]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon')).sample(10)

    Honda  Hyundai  Maruti  uncommon
20  False    False   False      True
40  False    False    True     False
28  False    False    True     False
46  False    False    True     False
9   False    False   False      True
43   True    False   False     False
24  False    False   False      True
3   False     True   False     False
30  False    False    True     False
14  False    False    True     False